.c-movies {
  background-image: linear-gradient(180deg, black, white);
}

.p-change {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid red;
  border-radius: 10px;
}

.heading {
  margin-bottom: 80px;
}

.sorting-icon {
}

.card-c {
  border: 2px solid black;
  border-radius: 10px;
}

.carditem {
  height: 280px;
  margin-left: 0px;
  width: 100%;
}

.cardimg {
  margin-top: 8px;
  height: 250px;
  width: 100%;
  border: 2px solid blue;
  border-radius: 10px;
}

.c-rating {
  display: flex;
}

.c-rating > span,
.c-rating > small {
  padding: 0px 5px;
}

.c-rating > .checked {
  color: orange;
}

.link-title {
    text-decoration: none;
    color: black;
}

.link-arrow {
    text-decoration: none;
    color: white;
}